/*body {
	zoom: 0.75;
	-ms-zoom: 0.75;
	-webkit-zoom: 0.75;
	-moz-transform:  scale(0.75,0.75);
	-moz-transform-origin: left center;
}*/

.griddle {
	border-bottom: 3px solid #ee6e73 !important;
}

.selected-row {
	background-color: #ee6e73 !important;
	color: white;
}

.table-name {
	min-height: 28px;
}

.pointer {
	cursor: pointer;
}
